* {
    background: darkgray;
    text-align: center;
}


a{
    font-size: 30px;
    text-decoration: none;
    opacity: 0.2;
}

a:hover{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition: 0.5s 
}




p{
    font-size: 30px; 
    font-weight: 600;
}


